django-cors-headers==4.9.0
django-filter==26.1
django-taggit==6.1.0
django-taggit-serializer==0.1.7
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
Markdown==3.10.2
mysqlclient==2.2.8
requests==2.34.2
